.tmux-settings-tab {
  .tmux-table {
    width: 100%;
    display: table;
    border-spacing: 0px 20px;
    .row {
      width: 100%;
      display: table-row;
      .header {
        padding: 0;
        width: 12em;
        display: table-cell;
      }
      .form-control {
        width: 100%;
        display: table-cell;
      }
    }
  }
}
